@import "partials/reset"

//global-reset()

body
	background-color: white

.img-404
	width: 400px
	margin: auto
	margin-top: 5%
	img
		border-radius: 2px

.form-control
	margin-bottom: 2%


#footer
	background-color: rgba(69, 149, 219, 1)

#response
	margin-top: 3%
	background-color: rgba(69, 149, 219, 0.53)
	padding: 2%
	border-radius: 5px

.doc 
	.container
		background-color: rgba(219,208,214, 0.5)
		padding:1%
		border-radius: 5px
		margin-bottom: 2%
		margin-top: 1%
	.container_action
		margin-bottom: 1%;
	.success_status
		color: green
	.error_status
		color: red